@{
    ViewData["Title"] = "Belobra Bosses";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Boss</th>
                <th scope="col">Últ. Aparição</th>
                <th scope="col">Previsão</th>
                <th scope="col">Qtd. Registros</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bossData in ViewBag.Dados)
            {
                <tr>
                    <td>@bossData.BossName</td>
                    @if (bossData.LastApparition != null)
                    {
                        <td>@bossData.LastApparition.ToString("dd/MM/yyyy")</td>
                    }
                    else
                    {
                        <td>Nunca visto.</td>
                    }
                    @if (bossData.LastApparition != null && bossData.FrequencyInterval > 0 )
                    {
                        <td>@bossData.LastApparition.AddDays(bossData.FrequencyInterval).ToString("dd/MM/yyyy")</td>
                    }
                    else
                    {
                        <td>Sem previsão.</td>
                    }
                    <td>@bossData.RegistersNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>
